body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Nova Mono', monospace;
}

.time-group {
    font-size: 2em;
}